<a href="https://colab.research.google.com/github/eduardocarbo/NewRepo/blob/master/0_Handling_of_missing_data_Manejo_de_valores_faltantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Handling of missing data / manejo de los valores faltantes

English: (The following is an explanation of how missing values are handled).

Spanish: (Se presenta a continuación cómo es el manejo de los valores faltantes).

Englis: Now, let´s install and import the Python libraries to start working.

Spanish: Ahora, vamos a instalar e importar las liberias de Python para empezar a trabajar.

#Install libreries / Instalación de Librerías

In [27]:
pip install --upgrade pip #This is a configuration that works if you´re not working in the Deepnote enviroment.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pip in /usr/local/lib/python3.10/dist-packages (23.1.2)

In [15]:
pip install janitor

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: janitor in /usr/local/lib/python3.10/dist-packages (0.1.1)
Requirement already satisfied: Flask in /usr/local/lib/python3.10/dist-packages (from janitor) (2.2.4)
Requirement already satisfied: gevent in /usr/local/lib/python3.10/dist-packages (from janitor) (22.10.2)
Requirement already satisfied: wsgi-oauth2 in /usr/local/lib/python3.10/dist-packages (from janitor) (0.2.2)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from Flask->janitor) (2.3.0)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from Flask->janitor) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask->janitor) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask->janitor) (8.1.3)
Requirement already satisfied: zope.event in /usr/local/lib/python3.10/dist-packages (from gevent->janitor) (4.6)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.10/dist-packages (from gevent->janitor) (6.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from gevent->janitor) (67.7.2)
Requirement already satisfied: greenlet>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from gevent->janitor) (2.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->Flask->janitor) (2.1.2)

In [16]:
pip install pyreadr

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyreadr
  Downloading pyreadr-0.4.7-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (362 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 363.0/363.0 kB 4.2 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from pyreadr) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pyreadr) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pyreadr) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pyreadr) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadr) (1.16.0)
Installing collected packages: pyreadr
Successfully installed pyreadr-0.4.7

In [17]:
pip install session_info

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting session_info
  Downloading session_info-1.0.0.tar.gz (24 kB)
  Preparing metadata (setup.py) ... done
Collecting stdlib_list (from session_info)
  Downloading stdlib_list-0.8.0-py3-none-any.whl (63 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 63.5/63.5 kB 2.1 MB/s eta 0:00:00
Building wheels for collected packages: session_info
  Building wheel for session_info (setup.py) ... done
  Created wheel for session_info: filename=session_info-1.0.0-py3-none-any.whl size=8026 sha256=f4cad259de608b5bb4c80ee22806f425941c116fdbdcbe584fb10f246820a597
  Stored in directory: /root/.cache/pip/wheels/6a/aa/b9/eb5d4031476ec10802795b97ccf937b9bd998d68a9b268765a
Successfully built session_info
Installing collected packages: stdlib_list, session_info
Successfully installed session_info-1.0.0 stdlib_list-0.8.0

In [18]:
pip install upsetplot

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting upsetplot
  Downloading UpSetPlot-0.8.0.tar.gz (22 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.10/dist-packages (from upsetplot) (1.5.3)
Requirement already satisfied: matplotlib>=2.0 in /usr/local/lib/python3.10/dist-packages (from upsetplot) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0->upsetplot) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0->upsetplot) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0->upsetplot) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0->upsetplot) (1.4.4)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0->upsetplot) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0->upsetplot) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0->upsetplot) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0->upsetplot) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=2.0->upsetplot) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->upsetplot) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib>=2.0->upsetplot) (1.16.0)
Building wheels for collected packages: upsetplot
  Building wheel for upsetplot (setup.py) ... done
  Created wheel for upsetplot: filename=UpSetPlot-0.8.0-py3-none-any.whl size=23531 sha256=7da38eecf6698ba4ebf88e8331b3c696329b5f6bcac43412b87adaac964f3dc0
  Stored in directory: /root/.cache/pip/wheels/e1/4d/34/4180be8c6882c7fb6d36dd787495d5ade498fe16113b918611
Successfully built upsetplot
Installing collected packages: upsetplot
Successfully installed upsetplot-0.8.0

In [30]:
pip install nhanes

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nhanes
  Downloading nhanes-0.5.1-py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 10.9 MB/s eta 0:00:00
Installing collected packages: nhanes
Successfully installed nhanes-0.5.1

Import libraries / Importar librerias

(a).- janitor = It simplifies the data cleaning process.

(b).- missingno = To explore our missing values.

(c).- matplotlib = To visualize or plot.

(d).- nhader.load = Package to import pre-set data.

(e).- numpy and pandas = To work with our data set.

(f).- scipy.stats = To review statistics.

(g).- sklearn = It has data models and sections that assist with missing data imputation.

(h).- Statmodels = It serves to access models and test data.

(i).- upsetplot = Plotting to explore missing values.

In [31]:
#import janitor                                 #(a)
import matplotlib.pyplot as plt                 #(b)
import missingno                                #(c)
import nhanes.load                              #(d)
import numpy as np                              #(d)
import pandas as pd                             #(d)
import pyreadr                                  #(e)
import seaborn as sns                           #(f)
import session_info                             #(g)
import upsetplot                                #(i)

#Importing custom functions:

#Setting the overall appearance of the project´s plots.  / Configurar el aspecto general de las gráficas del proyecto

#Operating with missing values:

To represent missing values in Python, you can use "None". Below are different ways to identify missing data.

In [37]:
from pandas._libs.lib import fast_unique_multiple_list_gen
print(
    None or True,
    None or False,
    None == None,
    None is None,
    sep = "\n"  #It separates the previous terms into rows.
)

True
False
True
True

(a).- Numpy:

For Numpy, the representation of missing values is given by "nan"

In [42]:
print(
    np.nan or True,
    np.nan == np.nan,
    np.nan is np.nan,
    np.isnan(np.nan),    # This expression server us to ensure that it is a missing values.
    sep ="\n"
)

nan
False
True
True

(b).- Pandas

In [48]:
test_missing_df = pd.DataFrame.from_dict(
    data = dict (
        x =[0,1,np.nan, np.nan, None],   #This is a small dataset.
        y=[0,1, pd.NA, np.nan, None]
    )
)
test_missing_df   # As a result, Pandas represents missing data as what they are.

     x     y
0  0.0     0
1  1.0     1
2  NaN  <NA>
3  NaN   NaN
4  NaN  None

To identify missing values with pandas, the following is done:

In [49]:
test_missing_df.isna()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

Another way to represent missing values in Pandas is:

In [50]:
test_missing_df.isnull()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

You can apply null value identification to a single column:

In [51]:
test_missing_df.x.isnull()

0    False
1    False
2     True
3     True
4     True
Name: x, dtype: bool

Let´s generate a series of data to perform other types of tasks  in Python:

In [52]:
pd.Series([1,np.nan])

0    1.0
1    NaN
dtype: float64

In [53]:
pd.Series([pd.to_datetime("2022-01-01"),np.nan])

0   2022-01-01
1          NaT
dtype: datetime64[ns]

#Knowing our datasets

1.- Loading the datasets : Prima Indians Diabetes

In [54]:
pima_indians_diabetes_url = "https://nrvis.com/data/mldata/pima-indians-diabetes.csv"

Let´s download the data from the previous URL

In [59]:
!wget -O ./pima-indians-diabetes.csv {  pima_indians_diabetes_url} -q

Let´s load the file using the usual instruction:

In [63]:
diabetes_df = pd.read_csv(
    "/content/pima-indians-diabetes.csv",
    names=["pregnancies",
           "glucose",
           "blood_pressure",
           "skin_thickness",
           "insulin","bmi",
           "diabetes_pedigree_funtion",
           "age",
           "outcome"] # To specify the column names
    )

As we saw earlier, each column has its name established

We are going to use the naniar package (oceanbuoys, pedestrian, riskfactors) wich come from the R package.