<a href="https://colab.research.google.com/github/eduardocarbo/NewRepo/blob/master/EJERCICIOS_PRACTICA_Pandas_Ex4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

'''
Ejercicio 4
Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:


Mes	Ventas	Gastos

Enero	30500	22000

Febrero	35600	23400

Marzo	28300	18100

Abril	33900	20700

'''

In [1]:
import pandas as pd

def dataframe(dict_data):
    df = pd.DataFrame(dict_data)
    df =pd.DataFrame(dict_data, index=['A.-','B.-','C.-','D.-'])
    print(df)


def main():
    dict_data ={'Mes':['Enero','Febrero','Marzo','Abril'],'Ventas':[30500,35600,28300,33900],'Gastos':[22000,23400,18100,20700]}
    df = dataframe(dict_data)
main()

         Mes  Ventas  Gastos
A.-    Enero   30500   22000
B.-  Febrero   35600   23400
C.-    Marzo   28300   18100
D.-    Abril   33900   20700