<a href="https://colab.research.google.com/github/eduardocarbo/NewRepo/blob/master/PANDAS_Introduccion_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Primero traemos ala librería
import pandas as pd

In [7]:
#vamos a crear la estructura de datos más sencilla de pandas que son las series
series = pd.Series([5,10,15,20,25])
#vamos a imprimirla
series

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [8]:
#Tenemos una función que es type
type(series)

pandas.core.series.Series

In [9]:
#mostramos la información ne le índice previo
series[3]

20

In [12]:

#Ahora creamosuna serie de caracteres
cad = pd.Series(['p','l','a','t','z','i'])
cad

0    p
1    l
2    a
3    t
4    z
5    i
dtype: object

In [15]:
#Así se hacen unos DataFrame en Python con PANDAS
lst =['Hola','mundo','robótico']
df = pd.DataFrame(lst)
print(df)

          0
0      Hola
1     mundo
2  robótico

In [18]:
#otra estructura con cabeceras
data = {'Nombre':['Juan','Ana','Jose','Arturo'],'Edad':[25,18,23,27],'Pais':['MX','COL','BR','MX']}
df = pd.DataFrame(data)
df

   Nombre  Edad Pais
0    Juan    25   MX
1     Ana    18  COL
2    Jose    23   BR
3  Arturo    27   MX

In [19]:
#si queremos imprimr 2 columnas de esa extructura
print(df[['Nombre','Pais']])

   Nombre Pais
0    Juan   MX
1     Ana  COL
2    Jose   BR
3  Arturo   MX