<a href="https://colab.research.google.com/github/eduardocarbo/NewRepo/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


------------------------------------
#Ejercicio 5
------------------------------------
Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una
lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

----------------------------------------------------------------------------------------------------
------------------------------------
Ejercicio 4 (ejercicios anterior)
------------------------------------
Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

Mes	Ventas	Gastos

Enero	30500	22000

Febrero	35600	23400

Marzo	28300	18100

Abril	33900	20700

----------------------------------------------------------------------------------------------------

In [1]:
import pandas as pd

def dataframe(dict_data):
    df = pd.DataFrame(dict_data)
    df =pd.DataFrame(dict_data, index=['A.-','B.-','C.-','D.-'])
    print(df)
    return df


def lista_df(df):
    print("\n Impresión de los meses:\n")
    print(df['Mes'])
    
def ventas_gastos(df):
    print('Estas son las columnas con las que se requiere trabajar: ')
    print(df[['Mes','Ventas','Gastos']])
    print("\n Balance de ventas - gastos\n")
    print(df['Mes'],"\n")
    table = df['Ventas']-df['Gastos']
    print(df['Mes'],'\n',table)


    
def main():
    print("---------------------------------------------------------------------------------------------------")
    dict_data ={'Mes':['Enero','Febrero','Marzo','Abril'],'Ventas':[30500,35600,28300,33900],'Gastos':[22000,23400,18100,20700]}
    df = dataframe(dict_data)
    lista_df(df)
    ventas_gastos(df)
    print("---------------------------------------------------------------------------------------------------")
main()

---------------------------------------------------------------------------------------------------
         Mes  Ventas  Gastos
A.-    Enero   30500   22000
B.-  Febrero   35600   23400
C.-    Marzo   28300   18100
D.-    Abril   33900   20700

 Impresión de los meses:

A.-      Enero
B.-    Febrero
C.-      Marzo
D.-      Abril
Name: Mes, dtype: object
Estas son las columnas con las que se requiere trabajar:
         Mes  Ventas  Gastos
A.-    Enero   30500   22000
B.-  Febrero   35600   23400
C.-    Marzo   28300   18100
D.-    Abril   33900   20700

 Balance de ventas - gastos

A.-      Enero
B.-    Febrero
C.-      Marzo
D.-      Abril
Name: Mes, dtype: object

A.-      Enero
B.-    Febrero
C.-      Marzo
D.-      Abril
Name: Mes, dtype: object
 A.-     8500
B.-    12200
C.-    10200
D.-    13200
dtype: int64
---------------------------------------------------------------------------------------------------